/* Layout */

body {
  display: grid;
  grid-template-rows: 10vh auto 10vh;
}

header, footer {
  background: #5F1FB2;
  position: fixed;
  right: 0;
  left: 0;
  padding: 1vw;
  width: auto;
}

header {
  background: #5F1FB2;
  top: 0;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  grid-row: 3/4;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */

.brand {
  font-family: 'Creepster', cursive;
  text-shadow: .25vw .25vw .25vw #FFEA34;
  font-size: 10vh;
  padding-bottom: .5vw;
}

h1, h2, h3, li, p, a, .singles-name {
  font-family: 'VT323', monospace;
}

.brand-2, .slogan, .user-name, .main-nav, .footer-nav {
  font-size: 3.5vh;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #FFEA34;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}

.user-nav {
  display: flex;
}

.user-profile-pic {
  border-radius: 50%;
  padding-bottom: 1vh;
  /* border: .25vw solid #FFEA34; */
}

/* main */

main {
  grid-row: 2/3;
  margin: 16vh 0vw;
}

.singles-bubbles {
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding: 5vw;
}

.singles-bubbles img {
  width: 75%;
  height: auto;
}

.singles-bubbles div p, .singles-bubbles div button {
  align-items: center;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
}

.message-title {
  font-size: 3vh;
  padding: 2vh 0vw;
  text-align: center;
}

.message {
  padding: 1vw;
}

.events-article {
  padding: 2vw;
}

.events-article h1 {
  padding: 1vw;
  font-size: 3vh;
}

.event-post, .faq-list li, .faq-list li p {
  padding: 1vw;
  line-height: 2.5vh;
}

.events-article a  {
  padding: 1vw;
}

.faq-title {
  padding: 1vw;
  font-size: 3vh;
}

.profile-wrapper {
  padding: 5vh 1vw;
}

.greg-pic {
  height: 33%;
  width: 33%;
}

.bio {
  padding: 1vw;
  line-height: 2vh;
}

.singles.hidden {
  display: none;
}

/* footer */

.footer-nav ul {
  display: flex;
  justify-content: space-between;
  width: 12vw;
}

.contanct-info, .contanct-info a  {
  font-size: 2vh;
}
